@model IEnumerable<HizliGeliyoEcom.Entities.Entities.Product>

<div class='container-fluid'>
    <div class="row">
        @foreach (var item in Model)
        {
<div class="card mx-auto col-md-3 col-3 mt-5 ">
    <img class='mx-auto img-thumbnail' src="@item.Image" style="height:auto;width:auto" />
    <div class="card-body text-center mx-auto d-flex flex-column-reverse">
        <div class='cvp'>
            <h5 class="card-title font-weight-bold"></h5>
            <p class="card-text">@item.Price $</p><a href="#" class="btn details px-auto">Detay</a><br /><a asp-action="AddToCart" asp-controller="Shop" asp-route-productID="@item.ID" class="btn cart px-auto" id="addToCart">Sepete Ekle</a>
        </div>
    </div>
</div>}
    </div>
</div>
<!-- bbb_deals -->
<script>
    document.getElementById('addToCart').addEventListener('click', () => {
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Ürün Sepetinize Eklendi',
            showConfirmButton: false,
            timer: 1500
        })
    });
</script>
